{{ form_start(form) }}
    {{ form_row(form.nome) }}
    {{ form_row(form.porte) }}
    {{ form_row(form.agressividade) }}
    {{ form_row(form.dono) }}
    {{ form_row(form.photo)}}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    {{ form_row(form.submit)}}
{# <button type="button" id="add-dono-btn">Adicionar Dono</button>
    <div id="add-dono-form" style="display:none;">
    <p>teste</p>
    </div> #}

{{ form_end(form) }}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
        // In your Javascript (external .js resource or <script> tag)
     $(document).ready(function() {
        $('.select2').select2();
        });     
    </script>
 <script>
    document.getElementById('add-dono-btn').addEventListener('click', function() {
        let formDiv = document.getElementById('add-dono-form');
        if (formDiv.style.display === 'none') {
            formDiv.style.display = 'block';
        } else {
            formDiv.style.display = 'none';
        }
    });
</script>

{% endblock %}