{% extends 'base.html.twig' %}

{% block title %}Cachorros cadastrados{% endblock %}

 
{% block body %}
<main>
<div class="item-show">
    <div class="dono-container">

    <h2>Cachorros cadastrados</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Porte</th>
                <th>Agressividade</th>
                <th>Dono</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for cachorro in cachorros %}
            <tr class="recibo">
                <td>{{ cachorro.id }}</td>
                <td>{{ cachorro.nome }}</td>
                <td>{{ cachorro.getPorteTexto() }}</td>
                <td>{{ cachorro.agressividade }}</td>
                <td>{{ cachorro.getDono }}</td>
                <td>
                    <a href="{{ path('app_cachorro_show', {'id': cachorro.id}) }}">Ver</a>
                    <a href="{{ path('app_cachorro_edit', {'id': cachorro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cachorro_new') }}">Cadastrar novo Cachorro</a>
 
    </div>
</div>
</main>
{% endblock %}
