{% extends 'base.html.twig' %}

{% block title %}Cachorro índice{% endblock %}

 
{% block body %}

<div class="item-show">
    <div>

    <h1>Cachorro índice</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Porte</th>
                <th>Agressividade</th>
                <th>Dono</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cachorro in cachorros %}
            <tr>
                <td>{{ cachorro.id }}</td>
                <td>{{ cachorro.nome }}</td>
                <td>{{ cachorro.porte }}</td>
                <td>{{ cachorro.agressividade }}</td>
                <td>{{ cachorro.getDono }}</td>
                <td>
                    <a href="{{ path('app_cachorro_show', {'id': cachorro.id}) }}">show</a>
                    <a href="{{ path('app_cachorro_edit', {'id': cachorro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cachorro_new') }}">Cadastrar novo Cachorro</a>
    <br><br>
    <a href="/new">Iniciar nova hospedagem</a>
    <br>
    <a href="/dono/new">Cadastrar novo Dono</a>

    </div>
</div>

{% endblock %}
