{% extends 'base.html.twig' %}

{% block title %}Cachorro{% endblock %}

{% block body %}
<div class="item-show">
    <div class="card4">
    <h1>Cachorro</h1>
                        <div class="dog-photo-card" >
                        {% if cachorro.photo != null %}
                            <div>
                            <img class="foto-dog" src="{{asset ('uploads/photos/' ~ cachorro.photo)}}" >
                            </div>
                        {% endif %}
                        </div>
    <table class="table">
        <tbody>
            
            <tr>
                <th>Id</th>
                <td>{{ cachorro.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cachorro.nome }}</td>
            </tr>
            <tr>
                <th>Porte</th>
                <td>{{ cachorro.getPorteTexto() }}</td>
            </tr>
            <tr>
                <th>Agressividade</th>
                <td>{{ cachorro.agressividade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cachorro_index') }}">back to list</a>

    <a href="{{ path('app_cachorro_edit', {'id': cachorro.id}) }}">edit</a>

    {{ include('cachorro/_delete_form.html.twig') }}

 </div>
</div>
{% endblock %}
