{% extends 'base.html.twig' %}

{% block title %}Recibo {{ recibo.id }}{% endblock %}

{% block body %}
<div class="item-show">
<div class="recibo">
<h1>Recibo hospedagem {{ recibo.hospedagem.id }} </h1>

<p>Recibo da hospedagem ID {{ recibo.hospedagem.id }}:</p>

<p>Cachorro/Dono: {{ recibo.getCachorroDono() }}</p>
<p>Entrada {{ recibo.hospedagem.getDataInicio()|date('Y-m-d H:i:s') }}</p>
<p>Saída: {{ recibo.hospedagem.getDataFim()|date('Y-m-d H:i:s') }}</p>
<p>Tempo Total: {{ recibo.getIntervaloTempo() }}</p>
<p>Serviços Adicionais: </p>
{% for servico in recibo.hospedagem.getServicos() %}
<p>{{ servico.getNome() }}</p>
<p>R$ {{ servico.getPreco() }}</p> 
{% endfor %}
<p>Preço Total Diária</p>
<p>R$ {{ recibo.getPrecoDiaria() }}</p>
<p>Preço Final</p>
<p>R$ {{ recibo.getPrecoTotal() }}</p>

  <div class="print">
    <button onclick="window.print()">Imprimir / Salvar PDF</button>
  </div>
</div>
</div>

{% endblock %}