{% extends 'base.html.twig' %}

{% block title %}Recibo {{ recibo.id }}{% endblock %}

{% block body %}
<div class="item-show">
<div class="recibo">
<h1>Recibo hospedagem {{ recibo.hospedagem.id }} </h1>

<p>Recibo da hospedagem ID {{ recibo.hospedagem.id }}:</p>

<p><b>Cachorro/Dono:</b> {{ recibo.getCachorroDono() }}</p>
<p><b>Entrada:</b> {{ recibo.hospedagem.getDataInicio()|date('Y-m-d H:i:s') }}</p>
<p><b>Saída:</b> {{ recibo.hospedagem.getDataFim()|date('Y-m-d H:i:s') }}</p>
<p><b>Tempo Total:</b> {{ recibo.getIntervaloTempo() }}</p>
<p><b>Serviços Adicionais:</b> </p>
{% for servico in recibo.hospedagem.getServicos() %}
<p><b>+ {{ servico.getNome() }}</b>: R$ {{ servico.getPreco() }}</p> 
{% endfor %}
<p><b>Preço Total Diária</b>: R$ {{ recibo.getPrecoDiaria() }}</p>
<hr>
<p><b>Preço Final</b>: R$ {{ recibo.getPrecoTotal() }}</p>

  <div class="print">
    <button onclick="window.print()">Imprimir / Salvar PDF</button>
  </div>
</div>
</div>

{% endblock %}