{% extends 'base.html.twig' %}

{% block title %}Recibo {{ recibo.id }}{% endblock %}

{% block body %}
<div class="item-show">
<div class="recibo">
<h1>Recibo hospedagem {{ recibo.hospedagem.id }} </h1>

<p>Recibo da hospedagem ID {{ recibo.hospedagem.id }}:</p>

<p><b>Cachorro/Dono:</b> {{ recibo.getHospedagem().getCachorro() }}</p>
<p><b>Entrada:</b> {{ recibo.hospedagem.getDataInicio()|date('d/m/Y H:i') }}</p>
<p><b>Saída:</b> {{ recibo.hospedagem.getDataFim()|date('d/m/Y H:i') }}</p>
<p><b>Tempo Total:</b> {{ recibo.getIntervaloTempo() }}</p>
<p><b>Serviços Adicionais:</b> </p>
{% for servico in recibo.hospedagem.getServicos() %}
<p><b>+ {{ servico.getNome() }}</b>: R$ {{ servico.getPreco() }}</p> 
{% endfor %}
<p><b>Preço Total Estadia</b><ul>R$ {{ recibo.getPrecoEstadia() }}
                        <li>R${{ (recibo.getHospedagem().getCachorro().getPorte() - 1) * 5 }}/período adicionais referente ao porte <b>{{ recibo.getHospedagem().getCachorro().getPorteTexto()  }}</b></li>
                        <li>R${{ ((recibo.getHospedagem().getCachorro().getAgressividade())/ 100) * 10 }}/período adicionais referente à agressividade</li></ul></p>
<hr>
<p><b>Preço Final</b>: R$ {{ recibo.getPrecoTotal() }}</p>

  <div class="print">
    <button onclick="window.print()">Imprimir / Salvar PDF</button>
  </div>
</div>
</div>

{% endblock %}