{% extends 'base.html.twig' %}

{% block title %}Lista de Recibos{% endblock %}

{% block body %}
<div class="item-show">
<div>
<table>
  <tr>
    
    <td>
    <b>Nº Recibo</b>
    </td>
    <td>
    <b>Cachorro / Dono</b>
    </td>
    <td>
    <b>Preço Total</b>
    </td>
    <td>
    <b>Data de Fechamento </b>
    </td>
   
  </tr>
  {% for recibo in recibos %}
  <tr>
   
    <td>
    {{ recibo.id }}
    </td>
 
    <td>
    {{ recibo.getHospedagem() }}
    </td>

    <td>
    R$ {{ recibo.getPrecoTotal() }}
    </td>

    <td>
    {{ recibo.getDataFechamento()|date('Y-m-d H:i:s') }}
    </td>

    <td>
      <button type="button" onclick="window.location.href='{{ path('app_hospedagem_recibo', {'id': recibo.id}) }}'">Ver Recibo</button>
    </td>

  </tr>
  {% endfor %}
</table>
</div>
</div>

{% endblock %}