{% extends 'base.html.twig' %}

{% block title %}Hospedagem index{% endblock %}

{% block body %}
    <h1>Hospedagem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cão</th>
                <th>Dono</th>
                <th>Data_inicio</th>
                <th>Data_fim</th>
                <th>TemBanho</th>
                <th>TemAdestramento</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospedagem in hospedagems %}
            <tr>
                <td>{{ hospedagem.id }}</td>
                <td>{{ hospedagem.getCachorro}}</td>
                <td>{{ hospedagem.getCachorro.getDono}}</td>
                <td>{{ hospedagem.dataInicio ? hospedagem.dataInicio|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ hospedagem.dataFim ? hospedagem.dataFim|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ hospedagem.temBanho ? 'Yes' : 'No' }}</td>
                <td>{{ hospedagem.temAdestramento ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_hospedagem_show', {'id': hospedagem.id}) }}">show</a>
                    <a href="{{ path('app_hospedagem_edit', {'id': hospedagem.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hospedagem_new') }}">Agendar nova Hospedagem</a>
    <br><br>
    <a href="/cachorro/new">Cadastrar novo Cachorro</a>
    <br>
    <a href="/dono/new">Cadastrar novo Dono</a>
{% endblock %}
