{% extends 'base.html.twig' %}

{% block title %}Hospedagem - DogHoster{% endblock %}

{% block body %}
<main>
    
    <div class="titulo">
           <div class="tituloH3">
            <h3>Hospedagens</h3>
            </div>
         
            <div class="buttonVagas">
                <div class="vagasDisponiveis">{{ hospedagensAtivasQuantidade }} vagas disponíveis
                </div>
                     <!-- Button trigger modal -->
                <div class="buttonIniciar" data-bs-toggle="modal" data-bs-target="#Modal">
                NOVA HOSPEDAGEM
                </div>

                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Iniciar nova hospedagem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body" id="ModalBody">
                        {{ form_start(form) }}
                                {{ form_widget(form)}}
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button class="btn btn-success" data-dismiss="modal">{{ button_label|default('Iniciar') }}</button>
                        {{ form_end(form) }}
                    </div>
                    </div>
                </div>
                </div>
            </div>  
            <div class="tituloH4">
            <h4>Cachorros hospedados</h4>
            </div>        
    </div>

    <div class="lista-hospedagens">
            
        {# <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite aqui..." name="busca" aria-label="busca" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div> #}
        {% for hospedagem in hospedagensAtivas %}
            <div class="card">
                
                    <div class="dog-photo-card">
                            {% if hospedagem.getCachorro().getPhoto() != null %}
                                <div>
                                <img class="foto-dog" src="{{asset ('uploads/photos/' ~ hospedagem.getCachorro().getPhoto())}}" >
                                </div>
                            {% endif %}
                    </div>
                    <div class="dog-info-card">
                       <div class="infos-dogg">
                            <p><b>Cão:</b> {{ hospedagem.cachorro.getNome() }}</b><br>
                                <b>Dono:</b> {{ hospedagem.cachorro.getDono() }}<br>
                             <b>Contato: </b> {{ hospedagem.cachorro.getDono().getTelefone() }}<br><br>
                                        <b>Entrada:</b> {{ hospedagem.getDataInicio()|date('d/m/Y') }}</p>
                        </div>
                        <div class="buttons">
                            <div class="btn btn-success"><a href="{{ path('app_hospedagem_show', {'id': hospedagem.id}) }}"> Acessar Hospedagem </a></div>
                        </div>
                    </div>                    
               
            </div>
        {% endfor %}

        {# {% if hospedagensAtivas|length > 15 %}
        <div class="aviso">Todos os 15 slots de hospedagem estão ocupados. Não é possível agendar novas hospedagens no momento.</div>
        {% else %}
            <div class="slot-vazio"> #}
                {# <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
            Iniciar nova hospedagem
            </button>

            <!-- Modal -->
            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                   <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Iniciar nova hospedagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                 </div>
                <div class="modal-body" id="ModalBody">
                    {{ form_start(form) }}
                            {{ form_widget(form)}}
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button class="btn" data-dismiss="modal">{{ button_label|default('Iniciar') }}</button>
                    {{ form_end(form) }}
                </div>
                </div>
            </div>
            </div> #}
            
            
            {# <div class="slot-vazio-a"> #}
                  {# <button type="button" id="add-hospedagem-btn">Iniciar nova Hospedagem</button>
                    <div id="add-hospedagem-form" style="display:none;">
                    {{ form_start(form) }}
                        {{ form_widget(form)}}
                        <button class="btn">{{ button_label|default('Iniciar') }}</button>
                    {{ form_end(form) }}
                    </div> #}
            {# </div> #}
        {# </div>
            {% for i in 1..(15 - hospedagensAtivas|length - 1) %}
            <div class="slot-vazio"></div>
            {% endfor %}
        {% endif %} #}
    
    </div>
    <div class="fim">
    </div>


</main>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
        // In your Javascript (external .js resource or <script> tag)
     $(document).ready(function() {
        $('.select2').select2({
  dropdownParent: $('#ModalBody')
});
        });    
    </script>

<script>
$('.select2').select2({
  dropdownParent: $('#ModalBody')
});
</script>

<script>
 document.getElementById('add-hospedagem-btn').addEventListener('click', function() {
        let formDiv = document.getElementById('add-hospedagem-form');
        if (formDiv.style.display === 'none') {
            formDiv.style.display = 'block';
        } else {
            formDiv.style.display = 'none';
        }
    });
</script>

{% endblock %}
