{% extends 'base.html.twig' %}

{% block title %}Hospedagem index{% endblock %}

{% block body %}
<main>
    <div class="main-menu">
       
     
        <div>
            <a href="{{ path('app_hospedagem_new') }}">Agendar nova Hospedagem</a>
        </div>   
        <div>
            <a href="/cachorro/new">Cadastrar novo Cachorro</a>
        </div>   
        <div>
            <a href="/dono/new">Cadastrar novo Dono</a>
        </div>
    </div>
    <div class="h3">
            <h3>Hospedagens - 15 vagas</h3>
           
    </div>
    <div class="lista-hospedagens">
    
        {% for hospedagem in hospedagensAtivas %}
            <div class="slot">{{ hospedagem.getCachorro() }}
                            <br>Entrada: {{ hospedagem.getDataInicio()|date('Y-m-d') }}
                                <div>
                                <a href="{{ path('app_hospedagem_show', {'id': hospedagem.id}) }}">Mostrar</a>
                                </div>
            </div>
        {% endfor %}

        {% if hospedagensAtivas|length > 15 %}
        <div class="aviso">Todos os 15 slots de hospedagem estão ocupados. Não é possível agendar novas hospedagens no momento.</div>
        {% else %}
        <div class="slot-vazio">
            <div class="slot-vazio-a">
                <a href="{{ path('app_hospedagem_new') }}"><p>Agendar nova Hospedagem</p></a>
            </div>
        </div>
            {% for i in 1..(15 - hospedagensAtivas|length - 1) %}
            <div class="slot-vazio"></div>
            {% endfor %}
        {% endif %}
    </div>


</main>

{% endblock %}
