{% extends 'base.html.twig' %}

{% block title %}Hospedagem index{% endblock %}

{% block body %}
<main>
    
    <div class="h3">
            <h3>Hospedagens - 15 vagas</h3>
           
    </div>
    <div class="lista-hospedagens">
    
        {% for hospedagem in hospedagensAtivas %}
            <div class="slot"><b>{{ hospedagem.getCachorro() }}</b>
                            <br><b>Entrada:</b> {{ hospedagem.getDataInicio()|date('Y-m-d') }}
                                <div>
                                <a href="{{ path('app_hospedagem_show', {'id': hospedagem.id}) }}">Mostrar</a>
                                </div>
            </div>
        {% endfor %}

        {% if hospedagensAtivas|length > 15 %}
        <div class="aviso">Todos os 15 slots de hospedagem estão ocupados. Não é possível agendar novas hospedagens no momento.</div>
        {% else %}
        <div class="slot-vazio">
            <div class="slot-vazio-a">
                  <button type="button" id="add-hospedagem-btn">Iniciar nova Hospedagem</button>
                    <div id="add-hospedagem-form" style="display:none;">
                    {{ form_start(form) }}
                        {{ form_widget(form)}}
                        <button class="btn">{{ button_label|default('Iniciar') }}</button>
                    {{ form_end(form) }}
                    </div>
            </div>
        </div>
            {% for i in 1..(15 - hospedagensAtivas|length - 1) %}
            <div class="slot-vazio"></div>
            {% endfor %}
        {% endif %}
    </div>


</main>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
        // In your Javascript (external .js resource or <script> tag)
     $(document).ready(function() {
        $('.select2').select2();
        });     
    </script>

<script>
 document.getElementById('add-hospedagem-btn').addEventListener('click', function() {
        let formDiv = document.getElementById('add-hospedagem-form');
        if (formDiv.style.display === 'none') {
            formDiv.style.display = 'block';
        } else {
            formDiv.style.display = 'none';
        }
    });
</script>

{% endblock %}
