{% extends 'base.html.twig' %}

{% block title %}Hospedagem de {{ hospedagem.getCachorro()}}{% endblock %}

{% block body %}
<div class="parcial-hospedagem">
   <div>
    <h1>Parcial da hospedagem de {{ hospedagem.getCachorro()}}</h1>

    
    <div>
        <p>Estado da Hospedagem: <b style="color:#FF0000"> {{ hospedagem.getEstado() }}</b> </p>
        {% if hospedagem.getEstado() == 'Em aberto' %}
        <a href="{{ path('fechar_hospedagem', {'id': hospedagem.id}) }}" class="btn btn-danger">Fechar Hospedagem</a>
       {% endif %}<p></p>
        <div id="editDiv" {% if hospedagem.getEstado() == 'Em aberto' %}style="display: none"{% endif %}>
            {% if hospedagem.getDataFim() != true %}
            <p>Defina uma data de fechamento da hospedagem</p>
            {% else %}
            <button type="button" onclick="window.location.href='{{ path('app_hospedagem_recibo', {'id': hospedagem.id}) }}'">Ver Recibo</button>
            {% endif %}
        </div>
    </div>
   
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hospedagem.id }}</td>
            </tr>

            <tr>
                <th>Cachorro</th>
                <td>{{ hospedagem.cachorro.getNome() }}</td>
            </tr>

             <tr>
                <th>Dono</th>
                <td>{{ hospedagem.cachorro.getDono() }}</td>
            </tr>

            <tr>
                <th>Data de entrada</th>
                <td>{{ hospedagem.dataInicio ? hospedagem.dataInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {# <tr>
                <th>Data_fim</th>
                {% if (hospedagem.dataFim != true) %}
                <td> 
                    <div id="editDiv" {% if hospedagem.estado == 'fechado' %}style="display: none"{% endif %}>
                        <form action="{{ path('app_hospedagem_show', { 'id': hospedagem.getId() }) }}" method="GET">
                         <input type="date" id="checkout" name="checkout" value="{{ "now"|date("Y-m-d  H:i:s") }}">
                         <button type="submit">Atualizar</button>
                        </form> 
                    </div>
                </td>
                {% else %}
                <td>{{ hospedagem.dataFim ? hospedagem.dataFim|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div id="editDiv" {% if hospedagem.estado == 'fechado' %}style="display: none"{% endif %}>
                        <button type="button" id="add-data-btn">Atualizar data</button>
                        <div id="add-data-form" style="display:none;">
                            <form action="{{ path('app_hospedagem_show', { 'id': hospedagem.getId() }) }}" method="GET">
                                <label for="checkout">Nova data fim:</label>
                                <input type="date" id="checkout" name="checkout" value="{{ "now"|date("Y-m-d  H:i:s") }}">
                                <button type="submit">Atualizar</button>
                            </form>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr> #}
            <tr>
                <th>Duração estimada</th>
                <td>{{ hospedagem.getPeriodo().format('%h horas, %i minutos') }}</td>
            </tr>
            <tr>
                <th>Preço Estadia</th>
                <td>R$ {{ valor_diarias }}</td>
            </tr>
            <tr>
                <th>Serviços adicionais</th>
                {% for servico in hospedagem.getServicos() %}
                 <tr>
                <td>+ {{ servico.getNome() }}</td>
                <td>R$ {{ servico.getPreco() }} reais</td>
        
                </tr>
                {% endfor %}
                <th>Preço Serviços</th>
                <td>R$ {{ valor_servico }}</td>

            </tr>
            <hr>
       
        </tbody>
    </table>
    <hr>
    <div><b>Preço Parcial:</b> R$ {{ valor_total }},00 reais </div>
   <div id="editDiv" {% if hospedagem.getEstado() == 'Fechado' %}style="display: none"{% endif %}> 
        <p>Clique para adicionar serviços:</p>
    <button type="button" id="add-servico-btn">Adicionar Serviços</button>
        <div id="add-servico-form" style="display:none;">
    {{ form_start(form_servico) }}
        {{ form_row(form_servico.nome) }}
        {{ form_row(form_servico.preco) }}
        {{ form_row(form_servico.quantidade) }}
        {# {{ form_row(form.hospedagem) }} #}
        <button class="btn">{{ button_label|default('Registrar') }}</button>
    {{ form_end(form_servico) }}

        </div>
    </div>
    <div>
        <p>Registro de ocorrências</p>
        {% for ocorrencia in hospedagem.getOcorrencias() %}
        <p> {{ ocorrencia.getOcorrencia() }} </p>
        {% endfor %}
        <div id="editDiv" {% if hospedagem.getEstado() == 'Fechado' %}style="display: none"{% endif %}>
        {{ form_start(form_ocorrencia)}}
            {{ form_row(form_ocorrencia.ocorrencia)}}
                <p>
               <button class="btn">{{ button_label|default('Registrar ocorrência') }}</button>
        {{ form_end(form_ocorrencia)}}
        </div>

    </div>    


        <p><br><br><br></p>
    {{ include('hospedagem/_delete_form.html.twig') }}
 </div>     
 

</div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

 <script>
    document.getElementById('add-servico-btn').addEventListener('click', function() {
        let formDiv = document.getElementById('add-servico-form');
        if (formDiv.style.display === 'none') {
            formDiv.style.display = 'block';
        } else {
            formDiv.style.display = 'none';
        }
    });

    document.getElementById('add-data-btn').addEventListener('click', function() {
    let formDiv = document.getElementById('add-data-form');
    if (formDiv.style.display === 'none') {
        formDiv.style.display = 'block';
    } else {
        formDiv.style.display = 'none';
    }
    });

      
</script>



{% endblock %}