{% extends 'base.html.twig' %}

{% block title %}Hospedagem{% endblock %}

{% block body %}
    <h1>Hospedagem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hospedagem.id }}</td>
            </tr>
            <tr>
                <th>Data_inicio</th>
                <td>{{ hospedagem.dataInicio ? hospedagem.dataInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Data_fim</th>
                <td>{{ hospedagem.dataFim ? hospedagem.dataFim|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TemBanho</th>
                <td>{{ hospedagem.temBanho ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TemAdestramento</th>
                <td>{{ hospedagem.temAdestramento ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hospedagem_index') }}">back to list</a>

    <a href="{{ path('app_hospedagem_edit', {'id': hospedagem.id}) }}">edit</a>

    {{ include('hospedagem/_delete_form.html.twig') }}
{% endblock %}
