{% extends 'base.html.twig' %}

{% block title %}ServicosExtras{% endblock %}

{% block body %}
    <h1>ServicosExtras</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servicos_extra.id }}</td>
            </tr>
            <tr>
                <th>Banho</th>
                <td>{{ servicos_extra.banho ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Sessao_adestramento</th>
                <td>{{ servicos_extra.sessaoAdestramento ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_servicos_extras_index') }}">back to list</a>

    <a href="{{ path('app_servicos_extras_edit', {'id': servicos_extra.id}) }}">edit</a>

    {{ include('servicos_extras/_delete_form.html.twig') }}
{% endblock %}
