{{ form_start(form) }}
    <label for="basic-url">Usuário</label>
    {{ form_row(form.email) }}<br>
    <label for="basic-url">Senha</label>
    {{ form_row(form.password) }}<br>
    <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}
