{% extends 'base.html.twig' %}

{% block title %}Donos cadastrados{% endblock %}

{% block body %}
<main>
<div class="item-show">
    <div class="dono-container">
    <h2>Donos cadastrados</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for dono in donos %}
            <tr class="recibo">
                <td>{{ dono.id }}</td>
                <td>{{ dono.nome }}</td>
                <td>{{ dono.email }}</td>
                <td>{{ dono.telefone }}</td>
                <td>
                    <a href="{{ path('app_dono_show', {'id': dono.id}) }}">Ver</a>
                    <a href="{{ path('app_dono_edit', {'id': dono.id}) }}">Editar</a>
                </td>
                {% if dono.getCachorro() != null %}
                <td>
                    <button onclick="window.location.href='{{ path('app_dono_novo_cachorro', {'id': dono.id}) }}'">Adicionar Cachorro</button>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dono_new') }}">Cadastrar novo Dono</a>
    <br><br>
    
    </div>
</div>
</main>
{% endblock %}
