{% extends 'base.html.twig' %}

{% block title %}Dono index{% endblock %}

{% block body %}

<div class="item-show">
    <div>
    <h1>Dono índice</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
        {% for dono in donos %}
            <tr>
                <td>{{ dono.id }}</td>
                <td>{{ dono.nome }}</td>
                <td>{{ dono.email }}</td>
                <td>
                    <a href="{{ path('app_dono_show', {'id': dono.id}) }}">show</a>
                    <a href="{{ path('app_dono_edit', {'id': dono.id}) }}">edit</a>
                </td>
                {% if dono.getCachorro() != null %}
                <td>
                    <button onclick="window.location.href='/cachorro/new'">Cadastrar Cachorro</button>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dono_new') }}">Cadastrar novo Dono</a>
    <br><br>
    <a href="/cachorro/new">Cadastrar novo Cachorro</a>
    <br>
    <a href="/new">Iniciar nova hospedagem</a>

    </div>
</div>

{% endblock %}
