{% extends 'base.html.twig' %}

{% block title %}Dono{% endblock %}

{% block body %}

<div class="dono-show-3">
    <div class="dono-container-2">
        <h1>{{ dono.nome }}</h1>

        <table class="table">
            <tbody>
                 <tr>
                    <th>Nome</th>
                    <td>{{ dono.nome }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ dono.email }}</td>
                </tr>
                 <tr>
                    <th>Telefone</th>
                    <td>{{ dono.telefone }}</td>
                </tr>
                <tr>
                    <td><button onclick="window.location.href='{{ path('app_dono_novo_cachorro', {'id': dono.id}) }}'">Adicionar Cachorro</button>
                    </td>
                </tr>
            </tbody>
        </table>
          <div>
                <a href="{{ path('app_dono_index') }}">voltar para lista de donos</a>

                <a href="{{ path('app_dono_edit', {'id': dono.id}   ) }}">editar</a>

                {{ include('dono/_delete_form.html.twig') }}
         </div>
    </div>

    <div class="dog-container">
          <h2>Cachorros de {{ dono.nome }}</h2>
        {% for cachorro in cachorros %}
        
            <div class="card2">
                <div class="dog-photo-card">
                        {% if cachorro.getPhoto() != null %}
                            <div>
                                <img class="foto-dog" src="{{asset ('uploads/photos/' ~ cachorro.getPhoto())}}" >
                            </div>
                        {% endif %}
                </div>
                <div class="dog-info-card">
                    <div class="infos-dogg">
                        <h3>{{ cachorro.getNome() }}</h3><br>
                        <b>Porte:</b> {{ cachorro.getPorteTexto() }}<br>
                        <b>Agressividade: </b> {{ cachorro.getAgressividade() }}%<br><br>
                                        
                    </div>
                </div>
            </div>        
            <div class="card3">
                <h4>Hospedagens anteriores de {{ cachorro.getNome() }} </h4>
                <div class="infos-hospedagem">
                    {% for hospedagem in cachorro.hospedagems %}
                        <div class="info-detalhada">
                            <p><strong>Data de entrada:</strong> {{ hospedagem.getDataInicio()|date('d/m/Y') }}</p>
                            <p><strong>Serviços:</strong> 
                                <ul>{% for servico in hospedagem.getServicos() %}
                                    <li>{{ servico.getNome() }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                             <div>
                             <p><strong>Ocorrências:</strong></p>
                                {% for ocorrencia in hospedagem.getOcorrencias() %}
                                    {% if ocorrencia.getOcorrencia() != true %}
                                    <p> Não houveram ocorrências.</p>
                                                                        
                                    {% else %}
                                    <p>{{ ocorrencia.getOcorrencia() }}</p>
                                    {% endif %}
                                {% endfor %}
                            
                            </div>
                            <div>
                            <button type="button" onclick="window.location.href='{{ path('app_hospedagem_recibo', {'id': hospedagem.id}) }}'">Ver Recibo</button>
                            </div>

                    </div>
               
                    {% endfor %}     
                </div>
            </div>
       
        {% endfor %}
    </div>
    
</div>

{% endblock %}
